.reviews {
  padding-top: 140px;
  padding-bottom: 126px;
  background-color: rgba(255, 229, 80, 0.2);
}

.reviews-title {
  margin-bottom: 20px;
  font-size: 42px;
}

.reviews-subtitle {
  margin-bottom: 33px;
  font-size: 16px;
}

.reviews-list {
  display: flex;
  align-items: center;
  gap: 139px;
}

.reviews-item {
  padding: 14px 15px;
  background-color: #fefefe;
  border-radius: 0 30px 30px 30px;
}

.reviews-stars-list {
  display: flex;
  margin-bottom: 29px;
}

.reviews-stars-icon {
  fill: #ffe550;
}

.reviews-item-text {
  margin-bottom: 41px;
  font-weight: 700;
  font-size: 18px;
}

.reviews-info-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews-item-title {
  margin-bottom: 2px;
}

.reviews-info-container::after {
  content: "";
  display: block;
  height: 52px;
  border-right: 1px solid #7eb101;
}
