:root {
  /* #region Transition styles */
  --time: 300ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  /* #endregion */

  /* #region Colors */
  --primary-color: #ffe550;
  --text-white-color: #ffffff;
  --secondary-color: #7eb101;
  --text-color: #2c2c2c;
  --text-placeholder: #c4c4c4;
  --background-color: #fefefe;
  --background-second-color: #ffffff;
  --highlight-color: #bbf330;
  /* #endregion */
}
