.logo-footer {
  margin-right: 46px;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    margin-right: 114px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-footer {
    margin-right: 143px;
  }
}
