body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms ease, visibility 250ms ease;
}

.modal {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  /* 
  height: 449px; */
  max-width: 320px;
  width: 100%;
  height: 449px;
  padding: 32px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffe550;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: transform 250ms ease;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 458px;
  }
}
.modal.active,
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 0;
  border: none;
  outline: transparent;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.modal-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  text-align: center;
}

.form-list {
  margin-bottom: 32px;
}

.form-item:not(:last-child) {
  margin-bottom: 24px;
}

.form-label {
  display: block;
  margin-bottom: 2px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2c2c;
}

.form-input {
  /* width: 394px;
   */
  width: 100%;
  height: 48px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  outline: transparent;
  padding-left: 12px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.form-input:focus {
  border: 1px solid #7eb101;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}

.modal-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid #7eb101;
  border-radius: 30px;

  width: 106px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 250ms ease, border-color 250ms ease;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #bbf330;
  border-color: #7eb101;
}
