.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  width: 100%;

  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 0;
  position: absolute;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  padding-top: 16px;
}

.nav-item {
  font-size: 14px;
  color: #7eb101;
}

.nav-link {
  display: block;
  padding: 16px 0;
}

.current {
  font-weight: 700;
  text-decoration: underline;
}

.header-button {
  display: none;
}
