<!--? Hero/Header order modal -->
<div class="modal" data-modal="1">
  <button type="button" class="modal-btn-close js-modal-close">
    <svg class="modal-icon-close" width="24" height="24">
      <use href="/icons/icons.svg#icon-menu-close"></use>
    </svg>
  </button>
  <p class="modal-title">Order Form</p>
  <form class="form">
    <ul class="form-list">
      <li class="form-item">
        <label for="user-name" class="form-label">Name</label
        ><input
          type="text"
          class="form-input"
          id="user-name"
          name="user-name"
          placeholder="Your name"
        />
      </li>
      <li class="form-item">
        <label for="user-tel" class="form-label">Phone number</label
        ><input
          type="tel"
          class="form-input"
          id="user-tel"
          name="user-tel"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
        />
      </li>
      <li class="form-item">
        <label for="user-email" class="form-label">E-mail</label
        ><input
          type="email"
          class="form-input"
          id="user-email"
          name="user-email"
          placeholder="example@gmail.com"
        />
      </li>
    </ul>
    <button class="modal-submit-btn" type="submit">Send</button>
  </form>
</div>
<!--? About -->
<div class="modal" data-modal="2">
  <button type="button" class="modal-btn-close js-modal-close">
    <svg class="modal-icon-close" width="24" height="24">
      <use href="/icons/icons.svg#icon-menu-close"></use>
    </svg>
  </button>
  <p class="modal-title">Choose product</p>
  <form class="veg-form">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/images/favorites/borshch.png"
            alt="Borshch"
            class="swiper-vegetable"
          />
          <input
            type="number"
            class="veg-form-input"
            name="quantity"
            min="0"
            step="1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/favorites/pasta.png"
            alt="Pasta"
            class="swiper-vegetable"
          />
          <input
            type="number"
            class="veg-form-input"
            name="quantity"
            min="0"
            step="1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/favorites/gamburger.png"
            alt="Gamburger"
            class="swiper-vegetable"
          />
          <input
            type="number"
            class="veg-form-input"
            name="quantity"
            min="0"
            step="1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/favorites/chicken.png"
            alt="Chicken"
            class="swiper-vegetable"
          />
          <input
            type="number"
            class="veg-form-input"
            name="quantity"
            min="0"
            step="1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/favorites/salat.png"
            alt="Salat"
            class="swiper-vegetable"
          />
          <input
            type="number"
            class="veg-form-input"
            name="quantity"
            min="0"
            step="1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/favorites/pizza.png"
            alt="Pizza"
            class="swiper-vegetable"
          />
          <input
            type="number"
            class="veg-form-input"
            name="quantity"
            min="0"
            step="1"
          />
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <button class="modal-submit-btn" type="submit">Submit</button>
  </form>
</div>
<!--? Overlay pizzas-->
<div class="modal-overlay js-overlay-modal">
  <div id="background-wrap">
    <img src="/images/favorites/borshch.png" alt="Carrot" class="vegetable" />
    <img src="/images/favorites/pasta.png" alt="Broccoli" class="vegetable" />
    <img src="/images/favorites/gamburger.png" alt="Tomato" class="vegetable" />
    <img src="/images/favorites/chicken.png" alt="Pepper" class="vegetable" />
    <img src="/images/favorites/salat.png" alt="Pepper" class="vegetable" />
    <img src="/images/favorites/pizza.png" alt="Pepper" class="vegetable" />
  </div>
</div>
