<ul class="nav-list {=$class-list-modifier}">
  <li class="nav-item {=$class-item-modifier}">
    <a href="#home" class="nav-link current {=$class-link-modifier}">Home</a>
  </li>
  <li class="nav-item {=$class-item-modifier}">
    <a href="#customers" class="nav-link {=$class-link-modifier}">Customers</a>
  </li>
  <li class="nav-item {=$class-item-modifier}">
    <a href="#about" class="nav-link {=$class-link-modifier}">About</a>
  </li>
  <li class="nav-item {=$class-item-modifier}">
    <a href="#service" class="nav-link {=$class-link-modifier}">Service</a>
  </li>
  <li class="nav-item {=$class-item-modifier}">
    <a href="#menu" class="nav-link {=$class-link-modifier}">Menu</a>
  </li>
  <li class="nav-item {=$class-item-modifier}">
    <a href="#contact" class="nav-link {=$class-link-modifier}">Contact</a>
  </li>
</ul>
