<section class="favorites" id="menu">
  <div class="container">
    <h1 class="favorites-title">Some of Our Favorites</h1>
    <p class="favorites-text">Looking for something delicious?</p>
    <ul class="favorites-list gallery">
      <li class="favorites-item">
        <a href="./images/favorites/gamburger-3x.png">
          <img
            class="favorites-img"
            src="./images/favorites/gamburger.png"
            alt="photo of gamburger"
            width="315"
        /></a>
      </li>
      <li class="favorites-item">
        <a href="./images/favorites/pasta-3x.png">
          <img
            class="favorites-img"
            src="./images/favorites/pasta.png"
            alt="photo of pasta"
            width="315"
        /></a>
      </li>
      <li class="favorites-item">
        <a href="./images/favorites/pizza-3x.png">
          <img
            class="favorites-img"
            src="./images/favorites/pizza.png"
            alt="photo of pizza"
            width="315"
        /></a>
      </li>
      <li class="favorites-item">
        <a href="./images/favorites/chicken-3x.png">
          <img
            class="favorites-img"
            src="./images/favorites/chicken.png"
            alt="photo of chicken"
            width="315"
        /></a>
      </li>
      <li class="favorites-item">
        <a href="./images/favorites/salat-3x.png">
          <img
            class="favorites-img"
            src="./images/favorites/salat.png"
            alt="photo of salat"
            width="315"
        /></a>
      </li>
      <li class="favorites-item">
        <a href="./images/favorites/borshch-3x.png">
          <img
            class="favorites-img"
            src="./images/favorites/borshch.png"
            alt="photo of borshch"
            width="315"
        /></a>
      </li>
    </ul>
  </div>
</section>
