<footer class="footer" id="service">
  <div class="container">
    <div class="footer-up-wrapper">
      <div class="foooter-up-container">
        <load src="/components/logo.html" class-modifier="logo-footer" />
        <load
          src="/components/nav.html"
          class-list-modifier="footer-nav-list"
          class-item-modifier="footer-nav-item"
          class-link-modifier="footer-nav-link"
        />
      </div>
      <div class="footer-form-container">
        <p class="footer-form-title">Subscribe</p>
        <form class="subscribe-form footer-form">
          <label class="subscribe-form- label">
            <input
              class="subscribe-form-input footer-form-input"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </label>
          <button type="submit" class="subscribe-form-btn footer-form-btn btn">
            Subscribe
          </button>
        </form>
        <p class="form-policy">
          By subscribing you agree to with our
          <a class="form-policy-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-down-wrapper">
      <ul class="policy-list">
        <li class="policy-item">
          <a class="policy-link" href="">Privacy Policy</a>
        </li>
        <li class="policy-item">
          <a class="policy-link" href="">Terms of Service</a>
        </li>
        <li class="policy-item">
          <a class="policy-link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
