<footer class="footer">
  <div class="container">
    <div class="footer-up-wrapper">
      <a href="" class="logo logo-footer">
        <img
          class="footer-image"
          src="./images/logo.svg"
          alt="Logo of our site"
          width="66"
          height="52"
        />
      </a>
      <ul class="nav-list footer-nav-list">
        <li class="nav-item">
          <a href="" class="nav-link footer-nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="./customers.html" class="nav-link footer-nav-link"
            >Customers</a
          >
        </li>
        <li class="nav-item">
          <a href="" class="nav-link footer-nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link footer-nav-link">Service</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link footer-nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link footer-nav-link"> Contact</a>
        </li>
      </ul>
      <div class="footer-form-container">
        <p class="footer-form-title">Subscribe</p>
        <form class="subscribe-form footer-form">
          <label class="subscribe-form- label">
            <input
              class="subscribe-form-input footer-form-input"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </label>
          <button type="submit" class="subscribe-form-btn footer-form-btn btn">
            Subscribe
          </button>
        </form>
        <p class="form-policy">
          By subscribing you agree to with our
          <a class="form-policy-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-down-wrapper">
      <ul class="policy-list">
        <li class="policy-item">
          <a class="policy-link" href="">Privacy Policy</a>
        </li>
        <li class="policy-item">
          <a class="policy-link" href="">Terms of Service</a>
        </li>
        <li class="policy-item">
          <a class="policy-link" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer-copyright">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
