<header class="header" id="home">
  <div class="container header-container">
    <a href="" class="logo">
      <img
        class="logo-image"
        src="./images/logo.svg"
        alt="Logo of our site"
        width="66"
        height="52"
      />
    </a>
    <div class="burger js-menu js-menu-close" data-menu-button>
      <span class="burger-icon"></span>
    </div>
    <load src="partials/nav.html" />

    <button
      type="button"
      class="header-button btn js-open-modal"
      data-modal="1"
    >
      Order Now
    </button>
  </div>
</header>
