<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
    <div class="hero-text-wrapper">
      <p class="hero-text">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button type="button" class="hero-btn btn js-open-modal" data-modal="1">
        Order Now
      </button>
    </div>
    <div class="swiper orderSwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero/tab/Foto1.png    1x,
                ./images/hero/tab/Foto1-2x.png 2x
              "
              media="(min-width: 320px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/hero/dec/Foto1.png    1x,
                ./images/hero/dec/Foto1-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <img
              src="./images/hero/tab/Foto1.png"
              alt="Foto1"
              class="swiper-img-hero"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero/tab/Foto2.png    1x,
                ./images/hero/tab/Foto2-2x.png 2x
              "
              media="(min-width: 320px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/hero/dec/Foto2.png    1x,
                ./images/hero/dec/Foto2-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <img
              src="./images/hero/tab/Foto2.png"
              alt="Foto2"
              class="swiper-img-hero"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hero/tab/Foto3.png    1x,
                ./images/hero/tab/Foto3-2x.png 2x
              "
              media="(min-width: 320px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/hero/dec/Foto3.png    1x,
                ./images/hero/dec/Foto3-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <img
              src="./images/hero/tab/Foto3.png"
              alt="Foto3"
              class="swiper-img-hero"
            />
          </picture>
        </li>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
