<section class="reviews">
  <div class="container">
    <h1 class="reviews-title">What our Customers Say</h1>
    <p class="reviews-subtitle">
      Don't just take our word for it - see what our satisfied customers have to
      say
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <ul class="reviews-stars-list">
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-item-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="reviews-info-container">
          <img
            class="reviews-item-img"
            src="./images/reviews/man-image.jpg"
            alt="man-image"
            width="48"
          />
          <div class="reviews-text-container">
            <h2 class="reviews-item-title">Sumith Shah</h2>
            <p class="reviews-item-name">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <ul class="reviews-stars-list">
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-stars-item">
            <svg class="reviews-stars-icon" width="17" height="18">
              <use href="./icons/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-item-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="reviews-info-container">
          <img
            class="reviews-item-img"
            src="./images/reviews/girl-image.jpg"
            alt="girl-image"
            width="48"
          />
          <div class="reviews-text-container">
            <h2 class="reviews-item-title">Sumith Shah</h2>
            <p class="reviews-item-name">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
