<section class="subscribe" id="contact">
  <div class="container subscribe-container">
    <img
      class="subscribe-image"
      src="./images/banan.png"
      alt="photo of a banana"
      width="608"
    />
    <div class="subscribe-wrapper">
      <h1 class="subscribe-title">Subscribe To Get Special Offers</h1>
      <p class="subscribe-text">
        Order now and receive 10% off your first meal with Enjoy Your Favorite
        Food From Anywhere.
      </p>
      <form class="subscribe-form">
        <label class="subscribe-form-label">
          <input
            class="subscribe-form-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </label>
        <button type="submit" class="subscribe-form-btn btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
